In [1]:
import numpy as np
import pandas as pd
import Levenshtein

In [2]:
inp_file = 'grmpf.csv'

In [3]:
header=0

In [12]:
df_inp = pd.read_csv(inp_file, delimiter=';', header=header)

In [48]:
df_inp

           bla        blue
0  levenshtein  lefenstein
1     distance    instance
2        again         NaN

In [49]:
list(df_inp[df_inp.columns[1]].values)

['lefenstein', 'instance', nan]

In [55]:
list(df_inp[~df_inp[df_inp.columns[1]].isna()][df_inp.columns[1]].values)

['lefenstein', 'instance']

In [46]:
df_inp[[df_inp.columns[1]]][df_inp[[df_inp.columns[1]]].isna()]

  blue
0  NaN
1  NaN
2  NaN

In [44]:
list(df_inp[[df_inp.columns[1]]][~df_inp[[df_inp.columns[1]]].isna()][df_inp.columns[1]].values)

['lefenstein', 'instance', nan]

In [70]:
bla = list(df_inp[~df_inp[df_inp.columns[0]].isna()][df_inp.columns[0]].values)

blue = list(df_inp[~df_inp[df_inp.columns[1]].isna()][df_inp.columns[1]].values)

a = np.zeros(shape=(len(bla),len(blue)), dtype=int)
print(a.shape)
df_dists = pd.DataFrame(data=a, index=bla, columns=blue)

(3, 2)

In [71]:
df_dists

             lefenstein  instance
levenshtein           0         0
distance              0         0
again                 0         0

In [72]:
for row in df_dists.itertuples():
    print(row.Index)
    for s2 in df_dists.columns:
        print(' '+s2)
        df_dists.loc[row.Index][s2] = Levenshtein.distance(row.Index, s2, weights=(1,1,1), processor=None, score_cutoff=None)

levenshtein
 lefenstein
 instance
distance
 lefenstein
 instance
again
 lefenstein
 instance

In [73]:
df_dists

             lefenstein  instance
levenshtein           2         9
distance              9         2
again                 8         7

In [69]:
a

array([[2., 9.],
       [9., 2.],
       [8., 7.]])